.container__navbar {
  position: fixed;
  top: 5%;
  left: 0;
  width: 100%;
  z-index: 1;
  text-decoration: none;
  padding-top: 3px;
}
.container__navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container__navbar-link {
  list-style-type: none;
  font-size: 15px;
  font-weight: 400;
}
.container__navbar-redirect {
  text-decoration: none;
  color: white;
  display: block;
}

.container__plotsection {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.container__plotsection-background, .container__plotsection-main, .container__plotsection-scroll {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container__plotsection-background {
  z-index: -1;
}
.container__plotsection-backgroundImage {
  width: 100vw;
  height: 100vh;
  transition: filter 0.3s ease-out;
}
.container__plotsection-main {
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container__plotsection-heading {
  font-family: "Abuget", sans-serif;
  font-size: 50px;
  color: #fff;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.container__plotsection-headingImage {
  margin-top: 10px;
  width: 420px;
  height: 98.5px;
}
.container__plotsection-scroll {
  z-index: 1;
}
.container__plotsection-scrollImage {
  width: 100vw;
  height: 150vh;
  transform: scaleX(1.05);
  transition: filter 0.3s ease-out;
}
.container__plotsection-textcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 600px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  z-index: 1000;
}
.container__plotsection-text {
  font-size: 2em;
  margin-bottom: 10px;
}
.container__plotsection-para {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.gooniessection {
  overflow: hidden;
}

.container__goonies {
  z-index: 1000;
}
.container__goonies-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin-bottom: 200px;
}
.container__goonies-mikey, .container__goonies-chunk, .container__goonies-data, .container__goonies-mouth {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.container__goonies-cardimage {
  max-width: 100%;
  height: 100vh;
  display: block;
  transition: transform 2s ease-in-out;
  opacity: 0.7;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  transform-origin: center center;
}
.container__goonies-cardimage:hover {
  transform: scale(1.05);
  opacity: 1;
  overflow: hidden;
  display: block;
}
.container__goonies-carddata {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  padding: 10px;
}
.container__goonies-cardheding {
  margin-bottom: 4px;
  font-size: 26px;
  line-height: 26px;
}
.container__goonies-cardpara {
  margin-right: 9px;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
}
.container__never {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.container__never-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
}
.container__never-first, .container__never-third {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container__never-image1C {
  margin-left: 14rem;
}
.container__never-image1 {
  width: 200px;
  height: 200px;
}
.container__never-image4C {
  margin-left: 22rem;
}
.container__never-image5C, .container__never-image3C {
  margin-right: 15rem;
}
.container__never-image4 {
  width: 170px;
  height: 170px;
}
.container__never-image3, .container__never-image5 {
  width: 120px;
  height: 120px;
}
.container__never-second {
  position: relative;
}
.container__never-image2 {
  width: 230px;
  height: 700px;
  transform: rotate(40deg);
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Sharp Grotesk Book 25 Regular", sans-serif;
}

body {
  background-color: black;
  overflow-x: hidden;
}

.container {
  width: 100vw;
}/*# sourceMappingURL=styles.css.map */