.credits {
    overflow: hidden;
}

.container {
    &__credits1 {
        @include flexCenterBetween;
        border: 1px dotted $color-dotted-border;
        color: $color-white;

        &-row {
            display: flex;
            width: 100vw;
            height: 50vh;
        }

        &-releasedate {
            flex: 1;
            text-align: center;
        }

        &-releasedateC {
            position: relative;
            width: 100%;
            height: 100%;
            @include flexCenter;
            flex-direction: column;
            border-right: 1px dotted $color-dotted-border;

            &--year {
                font-size: 40px;
                // position: fixed;
            }

            &--year2{
                font-size: 40px;
                display: none;
            }

            &--text {
                position: absolute;
                bottom: 40px;
                left: 20px;
                font-size: 24px;
                color: $color-white;
                font-weight: 400;
                line-height: 23px;
            }

            &--date {
                position: absolute;
                bottom: 15px;
                left: 20px;
                color: $color-white;
                font-size: 14px;
                line-height: 23px;
                font-weight: 400;
            }
        }

        &-story {
            position: relative;
            flex: 1;
        }

        &-storyC {
            position: relative;
            width: 100%;
            height: 100%;
            justify-content: flex-end;
            text-align: left;
            border-right: 1px dotted $color-dotted-border;
            overflow: hidden;

            &--heading {
                position: absolute;
                bottom: 40px;
                left: 20px;
                font-size: 24px;
                color: $color-white;
                font-weight: 400;
                line-height: 23px;
            }

            &--image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.5;
                transition:
                transform 1.5s ease-in-out,
                opacity 1.5s ease-in-out;
                transform-origin: center center;

                &:hover {
                    opacity: 1;
                    transform: scale(1.05);
                    transform: opacity(1);
                }
            }

            &--para {
                position: absolute;
                bottom: 15px;
                left: 20px;
                color: $color-white;
                font-size: 14px;
                line-height: 23px;
                font-weight: 400;
            }
        }

        &-production {
            flex: 2;
            @include flexColumn;
            justify-content: flex-end;
            text-align: left;
            position: relative;
        }

        &-productionC {
            position: relative;
            width: 100%;
            height: 100%;

            &--heading {
                position: absolute;
                bottom: 40px;
                left: 20px;
                font-size: 24px;
                color: $color-white;
                font-weight: 400;
                line-height: 23px;
            }

            &--image {
                width: 100%;
                height: 100%;
                object-fit: contain;
                opacity: 0.5;
                transition:
                opacity 0.5s ease-in-out;
                transition: transform 0.1s ease-out;

                &:hover {
                    opacity: 1;
                    transform: opacity(1);
                }
            }

            &--para {
                position: absolute;
                bottom: 15px;
                left: 20px;
                color: $color-white;
                font-size: 14px;
                line-height: 23px;
                font-weight: 400;
            }
        }
    }

    &__credits2 {
        display: flex;
        border-left: 1px solid $color-dotted-border;
        border-bottom: 1px solid $color-dotted-border;
        border-right: 1px solid $color-dotted-border;
        color: $color-white;
        width: 100vw;
        height: 50vh;
        overflow: hidden;

        &-row {
            display: flex;
            color: $color-white;
            width: 100vw;
            height: 50vh;
            overflow: hidden;
        }

        &-distributed,
        &-budget,
        &-music,
        &-boxoffice {
            flex: 1;
            text-align: center;
            box-sizing: border-box;
        }

        &-distributedC {
            position: relative;
            @include flexCenter;
            width: 100%;
            height: 100%;
            border-right: 1px dotted $color-dotted-border;

            &--image {
                width: 30%;
                height: 30%;
                object-fit: contain;
            }

            &--heading {
                position: absolute;
                bottom: 40px;
                left: 20px;
                font-size: 24px;
                color: $color-white;
                font-weight: 400;
                line-height: 23px;
            }

            &--para {
                position: absolute;
                bottom: 15px;
                left: 20px;
                color: $color-white;
                font-size: 14px;
                line-height: 23px;
                font-weight: 400;
            }
        }

        &-budgetC {
            position: relative;
            width: 100%;
            height: 100%;
            @include flexCenter;
            border-right: 1px dotted $color-dotted-border;

            &--text {
                font-size: 40px;
                text-align: center;
            }

            &--heading {
                position: absolute;
                bottom: 40px;
                left: 20px;
                font-size: 24px;
                color: $color-white;
                font-weight: 400;
                line-height: 23px;
            }

            &--para {
                position: absolute;
                bottom: 15px;
                left: 20px;
                color: $color-white;
                font-size: 14px;
                line-height: 23px;
                font-weight: 400;
            }
        }

        &-musicC {
            position: relative;
            @include flexCenter;
            width: 100%;
            height: 100%;
            border-right: 1px dotted $color-dotted-border;

            &--image {
                width: 60%;
                height: 60%;
                object-fit: contain;
                opacity: 0.5;
                transition:
                transform 1.5s ease-in-out,
                opacity 1.5s ease-in-out;
                transform-origin: center center;
                &:hover {
                    opacity: 1;
                    transform: scale(1.05);
                    transform: opacity(1);
                }
            }

            &--heading {
                position: absolute;
                bottom: 40px;
                left: 20px;
                font-size: 24px;
                color: $color-white;
                font-weight: 400;
                line-height: 23px;
            }

            &--para {
                position: absolute;
                bottom: 15px;
                left: 20px;
                color: $color-white;
                font-size: 14px;
                line-height: 23px;
                font-weight: 400;
            }
        }

        &-boxofficeC {
            position: relative;
            width: 100%;
            height: 100%;
            @include flexCenter;

            &--text {
                font-size: 40px;
                text-align: center;
            }

            &--heading {
                position: absolute;
                bottom: 40px;
                left: 20px;
                font-size: 24px;
                color: $color-white;
                font-weight: 400;
                line-height: 23px;
            }

            &--para {
                position: absolute;
                bottom: 15px;
                left: 20px;
                color: $color-white;
                font-size: 14px;
                line-height: 23px;
                font-weight: 400;
            }
        }
    }

    &__skullpeople {
        @include flexCenter;
        flex-direction: column;
        height: 100vh;

        &-skullC {
            height: 70vh;
            position: relative;
            z-index: -1;
            // scale: 0.3;

            &--image {
                opacity: 0.1;
                scale: 0.5;
            }
        }

        &-peopleC {
            &--image {
                // margin-bottom: 100px;
                opacity: 1;
            }
        }
    }
}

// .flip {
//     overflow: hidden;
//     position: relative;
  
//     &::before,
//     &::after {
//       content: '';
//       position: absolute;
//       width: 100%;
//       left: 0;
//     }
  
//     &::before {
//       height: 2px;
//       bottom: 0;
//       transform-origin: center center;
//       transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
//     }
  
//     &::after {
//       content: attr(data-replace);
//       height: 100%;
//       top: 0;
//       transform-origin: 100% 50%;
//       transform: translate3d(0, 200%, 0);
//       transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
//     }
  
//     &:hover::before {
//       transform-origin: center center;
//       transform: scaleX(1);
//     }
  
//     &:hover::after {
//       transform: translate3d(0, 0, 0);
//     }
  
//     .spanEl {
//       display: inline-block;
//       transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
//     }
  
//     &:hover .spanEl {
//       transform: translate3d(0, -200%, 0);
//     }
// }
  