.container{
    &__footer{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;      
        position: relative;
        height: 100vh; 
        color:white; 

        &-subheading{
            font-size:15px;
            font-weight: 100;
        }

        &-heading{
            font-size:40px;
            margin-top: 20px;
            font-weight: 300;
        }

        &-totop{
            text-decoration: none;
            color: white;
            margin-top: 20px;
        }

        &-author{
            font-size: 15px;
            letter-spacing: 1px;
            position: absolute;
            bottom: 30px;          
            left: 50%;             
            transform: translateX(-50%);
        }
    }
}