.container{
    &__footer{
        @include flexCenter;     
        flex-direction: column;
        position: relative;
        height: 100vh; 
        color:$color-white; 

        &-subheading{
            font-size:15px;
            font-weight: 100;
        }

        &-heading{
            font-size:40px;
            margin-top: 20px;
            font-weight: 300;
            transform: translateY(150px);
            opacity: 0;
        }

        &-totop{
            text-decoration: none;
            color: $color-white;
            margin-top: 20px;
            transform: translateY(160px);
            opacity: 0;
        }

        &-author{
            font-size: 15px;
            letter-spacing: 1px;
            position: absolute;
            bottom: 30px;          
            left: 50%;             
            transform: translateX(-50%);
        }
    }
}