.container {
    &__navbar {
        position: fixed;
        top: 5%;
        left: 0;
        width: 100%;
        z-index: 1;
        text-decoration: none;
        padding-top: 3px;

        &-links {
            @include flexCenterAround;
        }

        &-link {
            list-style-type: none;
            font-size: 15px;
            font-weight: 400;
        }

        &-redirect {
            text-decoration: none;
            color: $color-white;
            display: block;
            cursor: pointer;
        }

        &-progress {
            width: 5px;
            height: 5px;
            background-color: $color-white;
            border-radius: 50%;
            position: absolute;
            left: 145px;
            top: 30px;
            opacity: 1;
        }
    }
}